In [2]:
import pandas as pd

In [3]:
data=pd.read_csv(r'C:/Users/Acer/Downloads/t20-world-cup-22.csv')
print(data.head())

              venue        team1        team2     stage  toss winner  \
0               SCG  New Zealand    Australia  Super 12    Australia
1     Optus Stadium  Afghanistan      England  Super 12      England
2  Blundstone Arena      Ireland    Sri lanka  Super 12      Ireland
3               MCG     Pakistan        India  Super 12        India
4  Blundstone Arena   Bangladesh  Netherlands  Super 12  Netherlands

  toss decision  first innings score  first innings wickets  \
0         Field                200.0                    3.0
1         Field                112.0                   10.0
2           Bat                128.0                    8.0
3         Field                159.0                    8.0
4         Field                144.0                    8.0

   second innings score  second innings wickets       winner   won by  \
0                 111.0                    10.0  New Zealand     Runs
1                 113.0                     5.0      England  Wickets
2                 133.0                     1.0    Sri lanka  Wickets
3                 160.0                     6.0        India  Wickets
4                 135.0                    10.0   Bangladesh     Runs

  player of the match       top scorer  highest score         best bowler  \
0        Devon Conway     Devon Conway           92.0         Tim Southee
1          Sam Curran   Ibrahim Zadran           32.0          Sam Curran
2        Kusal Mendis     Kusal Mendis           68.0  Maheesh Theekshana
3         Virat Kohli      Virat Kohli           82.0       Hardik Pandya
4        Taskin Ahmed  Colin Ackermann           62.0        Taskin Ahmed

  best bowling figure
0                 3-6
1                5-10
2                2-19
3                3-30
4                4-25